<div class="container-fluid main-panel" style="height: 100%;">
    <div class="login-wrapper">
        <div class="card login-card">
            <div class="row login-content">
                <form (ngSubmit)="onRegister()">
                    <h2 class="text-center mb-6 form-label title">Create Your Account</h2>
                    <!-- Username -->
                    <div class="mb-3">
                        <label for="username" class="form-label title">User name</label>
                        <div class="input-group">
                            <span class="input-group-text">
                            </span>
                            <input id="username" name="username" type="text" class="form-control"
                                placeholder="Enter email or username" [(ngModel)]="username" required />
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="mb-3">
                        <label for="password" class="form-label title">Password</label>
                        <div class="input-group">
                            <span class="input-group-text">
                            </span>
                            <input id="password" name="password" type="password" class="form-control"
                                placeholder="Enter password" autocomplete="new-password" [(ngModel)]="password" required />
                        </div>
                    </div>

                    <!-- Password Confirm -->
                    <div class="mb-3">
                        <label for="password_confirm" class="form-label title">Confirm Password</label>
                        <div class="input-group">
                            <span class="input-group-text">
                            </span>
                            <input id="password_confirm" name="password_confirm" type="password" class="form-control"
                                placeholder="Enter password again" [(ngModel)]="password_confirm" required />
                        </div>
                    </div>

                    <!-- Button -->
                    <button type="submit" class="btn btn-primary w-100 mb-3">
                        Register
                    </button>
                </form>
            </div>


        </div>
    </div>
</div>

<app-footer-menu></app-footer-menu>