
<app-header-menu></app-header-menu>
<div class="container-fluid main-panel">
    <div class="row">
        <div class="col-md-6 divide-dashed">
            <div class="row custom-file">
                <h2 class="form-label title">Input Area</h2>
                <label class="custom-file-input">
                    <i class="fa fa-cloud-upload"> </i> Upload or Drag and drop image here.
                    <input type="file" (change)="onChange($event)" #fileUpload />
                </label>
            </div>
            <div class="row">
                <img class="im-res" *ngIf="imageSrc" [src]="imageSrc">
            </div>
            <div class="row" *ngIf="file">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <section class="file-info">
                        <h4 class="form-label title">File Information</h4>
                        <ul>
                            <li>Name: {{file.name}}</li>
                            <li>Type: {{file.type}}</li>
                            <li>Size: {{file.size}} bytes</li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-4">
                    <section class="center-btn">
                        <button class="btn btn-outline-success btn-search" type="submit" (click)="onClickSGG()">
                            <i class="fa-solid fa-magnifying-glass"></i> Excute Scene Graph Generation
                        </button>
                    </section>
                    <section [ngSwitch]="status" class="info-progress">
                        <p *ngSwitchCase="'uploading'">⏳ Excuting...</p>
                        <p *ngSwitchCase="'success'">✅ Done!</p>
                        <p *ngSwitchCase="'fail'">❌ Error!</p>
                        <p *ngSwitchDefault>😶 Waiting...</p>
                    </section>
                </div>
                <div class="col-md-2"></div>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="row">
                <h2 for="exampleFormControlTextarea1" class="form-label title">Output Scene Graph</h2>
            </div>
            <div class="loading-container" *ngIf="this.isLoading">
                <img src="./assets/loading.gif" class="image-loading">
            </div>
            <div class="row" *ngIf="this.isData != false">
                <div class="container" >
                    <h4 class="form-label title">Scene Graph</h4>
                    <div class="modal-body row">
                        <div class="col-md-6">
                            <img class="im-res-scene" style="cursor: pointer;" src="{{apiRoot}}/sgg/res-sgg/{{this.imageObject}}" > <!--(click)="openPopup(1)"-->
                        </div>
                        <div class="col-md-6 triplets-block">
                            <div *ngFor="let triplet of triplets; let i = index" class="triplet">
                                <input [(ngModel)]="triplet.subject" placeholder="Subject" class="subject">
                                <input [(ngModel)]="triplet.relation" placeholder="Relation" class="relation">
                                <input [(ngModel)]="triplet.object" placeholder="Object" class="object">
                            </div>
                        </div>
                    </div>
                    
                    <h4 class="form-label title">Triplets Detection</h4>
                    <img class="im-res" style="cursor: pointer;" src="{{apiRoot}}/sgg/res-sgg/{{this.imageTriplet}}" (click)="openPopup(2)">
                </div>
            </div>
        </div>
    </div>    

    <div class="row">
        <div class="col center-btn">
            <button class="btn btn-outline-success btn-search" type="submit" (click)="onClickSearch()">
                <i class="fa-solid fa-magnifying-glass"></i> Search</button>
            <button class="btn btn-outline-success btn-clear" type="submit" (click)="onClickClear()">
                <i class="fa-solid fa-eraser"></i> Clear</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2 for="exampleFormControlTextarea1" class="form-label title">Retrieval Result Area</h2>
        </div>
    </div>
    <div class="row center-btn" *ngIf="this.isData != false">
        <div class="col clear-res">
            <button class="btn btn-outline-success btn-clear" type="submit" (click)="onClickClearRes()">
                <i class="fa-solid fa-xmark"></i> Clear Result</button>
        </div>
    </div>
    <div class="loading-container" *ngIf="this.isLoadingRev">
        <img src="./assets/loading.gif" class="image-loading">
    </div>
    <div class="container" *ngIf="isDataRev">
        <div class="row image-show" *ngFor="let row of getRows2(this.tripletRev); let idx = index">
            <div class="col-4 d-flex justify-content-center align-items-center" *ngFor="let image of row">
                <div class="row align-items-center">
                    <div class="col-6 image-container">
                        <img class="im-rev" src="{{apiRoot}}/rev/images/{{image['image_id']}}" alt="{{image.image_id}}">
                    </div>
                    <div class="col-6 triplet-container">
                    <div class="triplet-rev" *ngFor="let triplet of image.trip">
                        <span class="subject">{{ triplet.subject }}</span> 
                        <span class="relation">{{ triplet.relation }}</span> 
                        <span class="object">{{ triplet.object }}</span>
                    </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="modal" style="justify-content: center;align-items: center;margin: auto;" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyleSG}"> 
    <div role="document"> 
      <div class="modal-content triplet-details"> 
        <div class="modal-header"> 
          <h4 class="modal-title">Triplet Details</h4> 
        </div> 
        <div class="modal-body row" *ngIf="this.imageTriplet"> 
            <div class="col-md-6">
                <img class="im-detail" style="width: 85%;" src="{{apiRoot}}sgg/res-sgg/{{this.imageObject}}">
            </div>
            <div class="col-md-6">
                <div *ngFor="let triplet of triplets" class="triplet">
                    <span class="subject">{{ triplet.subject }}</span>
                    <span class="relation">{{ triplet.relation }}</span>
                    <span class="object">{{ triplet.object }}</span>
                </div>
            </div>
        </div> 
        <div class="modal-footer"> 
          <button type="button" class="btn btn-danger" (click)="closePopup(1)"> Close </button> 
        </div> 
      </div> 
    </div> 
</div>

<div class="modal" style="justify-content: center;align-items: center;margin: auto;" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}"> 
    <div role="document"> 
      <div class="modal-content triplet-details"> 
        <div class="modal-header"> 
          <h4 class="modal-title">Triplet Details</h4> 
        </div> 
        <div class="modal-body row" *ngIf="this.imageTriplet"> 
          <img class="im-detail" src="{{apiRoot}}sgg/res-sgg/{{this.imageTriplet}}">
        </div> 
        <div class="modal-footer"> 
          <button type="button" class="btn btn-danger" (click)="closePopup(2)"> Close </button> 
        </div> 
      </div> 
    </div> 
</div>

<app-footer-menu></app-footer-menu>