.logo-main{
    width: 5%;
    margin: 10px;
}

.nav-cus{
    /* background-color: #6C8088 !important; */
    background: linear-gradient(90deg, #91e2ff, #DBF3FF);
    position: sticky; 
    top: 0; 
    width: 100%; 
}

.hover-link :hover {
    opacity: 5;
    background-color: aliceblue;
}