/* You can add global styles to this file, and also import other style files */
// @import "~@fortawesome/fontawesome-free/css/all.css";
.main-panel{
    /* background-color: #BAD0D8; */
    /* background: linear-gradient(180deg, #323B3F 25%, #738892); */
    background: #DBF3FF;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}


.custom-file-input{
    /* background-color: #BAD0D8; */
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Căn giữa ngang */
    align-items: center; /* Căn giữa dọc */
    width: 75%;
    margin: auto;
    border-style: dotted;
}

.center-btn{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.title{
    /* font-size: large; */
    font-weight: 700 !important;
    /* float: inline-start; */
    padding-top: 10px;
    text-align: center;
    color: #65BBDF;
}

.image-loading{
    display: block;
    width: 70%;
    margin: auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Class chung cho tất cả nút */
.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Class riêng cho nút Thêm */
.btn-add {
  background-color: #28a745; /* xanh lá */
}
.btn-add:hover {
  background-color: #218838;
}

/* Class riêng cho nút Sửa */
.btn-edit {
  background-color: #ffc107; /* vàng */
  color: black;
}
.btn-edit:hover {
  background-color: #e0a800;
}

/* Class riêng cho nút Xoá */
.btn-delete {
  background-color: #dc3545; /* đỏ */
}
.btn-delete:hover {
  background-color: #c82333;
}

