<app-header-menu></app-header-menu>

<div class="container-fluid main-panel" style="height: 100%; background-color: aqua;">
    <div class="row">
        <div class="col-md-6">
            <a href="sg/sgg/traffic">
                <img class="logo-main" src="./assets/logo-sgg.webp" >
            </a>
            
        </div>
        <div class="col-md-6">
            <a href="rs/retrieval/traffic">
                <img class="logo-main" src="./assets/logo-rs.webp">
            </a>
            
        </div>
    </div>
</div>

<app-footer-menu></app-footer-menu>