.logo-main{
    width: 40%;
    margin: auto;
    display: block;
    cursor: pointer;
    transition: transform .9s;
    margin-top: 150px;
}

.logo-main:hover{
    transform: scale(1.5);
}

@media (min-width: 768px) { /* Cho máy tính bảng và máy tính để bàn */
    .main-panel {
      min-height: 76vh;
    }
  }