.logo-main{
    width: 50%;
    margin: auto;
    display: flex;
    cursor: pointer;
    transition: transform .9s;
    // margin-top: 100px;
    border-radius: 75px;
    align-items: center;
    justify-content: center;

}

.logo-main:hover{
    transform: scale(1.25);
}

@media (min-width: 768px) { /* Cho máy tính bảng và máy tính để bàn */
    .main-panel {
      min-height: 76vh;
    }
  }