.logo-main{
    width: 5%;
    margin: 10px;
}

.nav-cus{
    background-color: #6C8088 !important;
    background: linear-gradient(90deg, #323B3F, #BADBE8);
}

.bg-image{
    background-image: url('../../../assets/background.jpg');
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    background-position: center;
    background-size: cover;
    z-index: -1;
}

@media (min-width: 768px) { /* Cho máy tính bảng và máy tính để bàn */
    .main-panel {
      min-height: 76vh;
    }
  }
/* @media (min-width: 1200px) {
    .main-panel {
      min-height: 100vh;
    }
} */
.btn-clear{
    margin: 10px;
    color: orange;
    font-weight: 600;
    border-color: orange !important;
}

.btn-search{
    font-weight: 600;
}

.btn-clear:hov{
    background-color: orange;
    
}

.qu-area{
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
}

.title-qu{
    /* font-size: large; */
    font-weight: 700;
    /* float: inline-start; */
    padding-top: 10px;
    text-align: center;
    color: white;
}

.center-btn{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.im-res{
    display: block; 
    max-width: 50%; 
    height: auto; 
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform .9s;
}

.image-show{
    margin-top: 10px;
}

.col-flex {
    display: flex;
    justify-content: center; /* Căn giữa ngang */
    align-items: center; /* Căn giữa dọc */
    height: 100%; /* Bạn cần đặt chiều cao nếu container chưa có */
  }

.clear-res{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.image-loading{
    display: block;
    width: 20%;
    margin: auto;
}

.custom-file-input{
    background-color: #BAD0D8;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Căn giữa ngang */
    align-items: center; /* Căn giữa dọc */
    width: 75%;
    margin: auto;

}
input[type="file"] {
    display: none;
}


.file-info{
    margin: 5px;
    font-weight: 800;
}

.info-progress{
    margin: 5px;
    font-weight: 800;
    text-align: center;
}

.im-detail{
    display: block; 
    height: auto; 
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.triplet-details{
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 75%; */
    margin: auto;
}

.im-res:hover{
    transform: scale(1.5);
}
